<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container, 
	see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>Sun:Jboss: Jersey</display-name>

	<context-param>
		<param-name>resteasy.scan</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>resteasy.scan.providers</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>resteasy.scan.resources</param-name>
		<param-value>false</param-value>
	</context-param>

	<description>Atmosphere REST Chat</description>
	<display-name>Atmosphere REST Chat</display-name>
	<servlet>
		<description>AtmosphereServlet</description>
		<servlet-name>AtmosphereServlet</servlet-name>
		<servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
		<!-- <init-param> <param-name>com.sun.jersey.config.property.packages</param-name> 
			<param-value>com.varun.jersey</param-value> </init-param> -->
		<init-param>
			<param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
			<param-value>com.sun.jersey.api.core.ClasspathResourceConfig</param-value>
		</init-param>

		<init-param>
			<param-name>org.atmosphere.websocket.messageContentType</param-name>
			<param-value>application/json</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>AtmosphereServlet</servlet-name>
		<url-pattern>/chat/*</url-pattern>
	</servlet-mapping>

</web-app>