<?xml version="1.0"?><!--
     * ////////////////////////////////////////////////////////////////////////
     * //
     * //		Copyright (c) 2006-2016 Cigital Asia Pvt. Ltd.
     * //		All Rights Reserved.
     * //
     * //		NOTICE: All contents of this file are the intellectual property
     * //			of Cigital Asia Pvt. Ltd., The contents should not
     * //			be reused as a whole or partially. The reproduction of this
     * //			content is strictly prohibited without prior written permission
     * //			from Cigital Asia Pvt. Ltd.
     * //		
     * ////////////////////////////////////////////////////////////////////////
 -->

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<display-name>Rest API for Cedar-Security</display-name>
	<context-param>
		<param-name>security-conf-filename</param-name>
		<param-value>security.conf</param-value>
	</context-param>
	<context-param>
		<param-name>sdp-quartz-filename</param-name>
		<param-value>security_quartz.properties</param-value>
	</context-param>
	<context-param>
		<param-name>resteasy.scan</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>configuration-lookup-env</param-name>
		<param-value>SECURITY_CONF_PATH</param-value>
	</context-param>
	<listener>
		<listener-class>com.ivizsecurity.security.SecurityConfigManager</listener-class>
	</listener>
	<listener>
		<listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
	</listener>
	<listener>
		<listener-class>com.ivizsecurity.security.SecurityQuartzSchedulerManager</listener-class>
	</listener>
	<servlet>
		<servlet-name>SecurityRestApi</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SecurityRestApi</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>